.JDs_category {
	margin-bottom:10px;
}
.JDs_category_nav li {
	display:inline-block;
	list-style-type:none;
	margin:0 !important;
	padding:0;
}

.JDs_category_nav li a {
	display:inline-block;
	background:#000;
	color:#FFF;
	text-decoration:none;
	padding:3px 12px;
	margin-right:7px;
}

.JDs_portfolio_item {
	padding:0;
	margin:5px;
	position:relative;
	overflow:hidden;
}

.mix {
	display:none;
	padding:0 !important;
	overflow:hidden;
}

.JDs_portfolio_item img {
	display:block;
	max-width:100%;
	border-radius:0 !important;
	margin:0 auto;
	width:100%;
}

.JDs_portfolio_overlay {
	width:100%;
	height:100%;
	position:absolute;
	/*opacity:0.7;*/
	color:#FFF;
	padding:0;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all -0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.JDs_overlay_link {
	display:table;
	position:relative;
	text-align:center;
	min-width:50px;
	width:100%;
	height:100%;
}

.JDs_overlay_info {
	display:table-cell;
	vertical-align:middle;
}

.JDs_overlay_info h5 {
	margin-top:0;
	margin-bottom:10px;
}

.JDs_portfolio_overlay a {
	margin-right:7px;
}

.JDs_portfolio_overlay i {
	display:inline-block;
	line-height:1;
	background:#000;
	color:#FFF;
	padding:7px;
	
}

/******* Overlay Background *******/
.grey {
	background: rgba(206,220,231,0.7);
}

.blue {
	background: rgba(30,87,153,0.7);
}

.green {
	background: rgba(115,136,10,0.7);
}

.red {
	background: rgba(255,48,25,0.7);
}

.purple {
	background: rgba(203,96,179,0.7);
}

/********* Fade Animation ***********/
.JDs_fade {
	opacity:0;
	bottom:0;
}
.JDs_portfolio_item:hover .JDs_fade {
	opacity:0.7;
}

/********* Slide ***********/
.JDs_slide {
	top:0;
	right: 100%;
}

.JDs_portfolio_item:hover .JDs_slide {
	right:0;
	display:block;
}